$denim: #232536;
$yellow: #ffd050;
$purple: #592ea9;
$dark-gray: #4c4c4c;
$gray: #6d6e76;
$light-gray: #f4f4f4;
$ghost-white: #f4f0f8;
$antique-white: #fbf6ea;
$black: #000000;
$white: #ffffff;
$red: #ed4337;

$yellow-hover: #edc14a;

$font-family: var(--font-inter);
$second-family: var(--font-sen);

$s128: 128px;
$s110: 110px;
$s100: 100px;
$s80: 80px;
$s64: 64px;
$s56: 56px;
$s48: 48px;
$s40: 40px;
$s36: 36px;
$s32: 32px;
$s28: 28px;
$s24: 24px;
$s20: 20px;
$s16: 16px;
$s12: 12px;
$s8: 8px;
$s4: 4px;

$fs56: 56px;
$fs48: 48px;
$fs36: 36px;
$fs28: 28px;
$fs24: 24px;
$fs20: 20px;
$fs18: 18px;
$fs16: 16px;
$fs14: 14px;

$fw900: 900;
$fw700: 700;
$fw600: 600;
$fw500: 500;
$fw400: 400;

$ls019: 0.19em;

$screen-xs: 425px;
$screen-sm: 768px;
$screen-md: 900px;
$screen-lg: 1280px;
$screen-xl: 1440px;

$layer-1: 1;
$layer-2: 10;
$layer-3: 20;

$op7: 0.7;
$op6: 0.6;
$op4: 0.4;
$op3: 0.3;
$op1: 0.1;
$op05: 0.05;

$filter-gray: invert(30%) sepia(8%) saturate(0%) hue-rotate(198deg) brightness(80%) contrast(88%);
